<div class="grid min-h-[500px] grid-cols-1 place-items-center">
  <div
    class="rounded-media relative bg-gray-100 p-4 text-gray-500 shadow-xl sm:p-6 md:p-8"
  >
    <div
      class="surface-primary absolute -right-4 -top-4 grid h-14 w-14 place-items-center rounded-full shadow-lg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="3rem"
        height="3rem"
        viewBox="0 0 20 20"
        ><path
          fill="currentColor"
          d="M5.5 3a.5.5 0 0 0-.429.243l-3 5a.5.5 0 0 0 .045.577l7.5 9a.5.5 0 0 0 .768 0l7.5-9a.5.5 0 0 0 .045-.577l-3-5A.5.5 0 0 0 14.5 3zM3.383 8l2.4-4h1.979l-1.6 4zm2.775 1l2.267 5.829L3.568 9zM10 16.12L7.231 9h5.538zM7.239 8l1.6-4h2.322l1.6 4zm6.6 0l-1.6-4h1.978l2.4 4zm.003 1h2.59l-4.857 5.829z"
        ></path></svg
      >
    </div>
    <h3 class="text-2xl">This is a premium component</h3>
    <p class="text-lg">Please upgrade and install components and actions.</p>
    <div class="mt-6 flex flex-wrap gap-3">
      <a
        href="https://shop.unfolding.io/b/IWyfD"
        target="_blank"
        class="surface-primary btn">Upgrade</a
      >
      <a
        href="https://astrogency.unfolding.io/blog/premium-components-and-features/"
        target="_blank"
        class="btn-underline">More Info</a
      >
    </div>
  </div>
</div>
