---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
interface Props {
  blok: PageStoryblok;
  status?: "draft" | "published" | undefined;
}
const { blok, status } = Astro.props;
const { surface } = blok;
---

<main {...storyblokEditable(blok)} class={`${surface || ""} min-h-svh`}>
  {blok.body?.map((bodyBlok, index) => (
    <StoryblokComponent blok={bodyBlok} {status} {index} />
  ))}
</main>
